<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{getKeywords($archive,$category,$catid,$type)}" />
<meta name="description" content="{getDescription($archive,$category,$catid,$type)}" />
<meta name="author" content="CmsEasy Team" />
<link rel="icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$base_url}/favicon.ico" type="image/x-icon" />
<title>{getTitle($archive,$category,$catid,$type)}</title>
<link href="{$skin_path}/css/bootstrap.min.css" rel="stylesheet">
<link href="data:text/css;charset=utf-8," data-href="{$skin_path}/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
<link href="{$skin_path}/css/bootstrap-submenu.css" rel="stylesheet">
<link rel="stylesheet" href="{$skin_path}/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<link href="{$skin_path}/css/style.css" rel="stylesheet">
<link href="{$skin_path}/css/font-awesome.css" rel="stylesheet" type="text/css"> 
<link href="{$skin_path}/css/animate.css" rel="stylesheet" type="text/css">

<script src="{$skin_path}/js/jquery.min.js"></script>
<!--[if lt IE 9]><!-->
<script src="{$skin_path}/js/ie/html5shiv.min.js"></script>
<script src="{$skin_path}/js/ie/respond.min.js"></script>
<![endif]-->
</head>
{if get('shield_right_key')=='1'}
<body oncontextmenu="return false" onselectstart="return false">
<noscript><iframe src="/*.html>";</iframe></noscript>
<script>
function stop(){
return false;
}
document.oncontextmenu=stop;
</script>
{else}
<body>
{/if}








<!--Header_section-->
<header id="header_wrapper">
  <div class="container">
    <div class="header_box">
      <div class="logo"><a href="{$base_url}/" ><img src="{get('site_logo')}" class="img-responsive" alt="{get(sitename)}" width="{get(logo_width)}" /></a>
</div>
	  <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">{get(sitename)}</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
	    <div id="main-nav" class="collapse navbar-collapse navStyle">
			<ul class="nav navbar-nav" id="mainNav">
			  <li class="oen{if $topid==0} active{/if}"><a href="{$base_url}/">{lang(homepage)}</a></li>
				{loop categories_nav() $t}
				<li class="oen{if count(categories($t[catid]))} dropdown{/if}">
				<a href="{$t[url]}"{if config::get('nav_blank')==1} target=" _blank"{/if}{if count(categories($t[catid]))} data-toggle="dropdown" data-submenu=""{/if}
				>{$t[catname]}{if count(categories($t[catid]))}<span class="caret"></span>{/if}</a>
				{if count(categories($t[catid]))}
				<ul class="dropdown-menu">
				{loop categories($t[catid]) $t1}
				<li{if count(categories($t1[catid]))} class="dropdown-submenu"{/if}>
				<a title="{$t1[catname]}" href="{$t1[url]}">{$t1[catname]}</a>
				{if count(categories($t1[catid]))}
				<ul class="dropdown-menu">
				{loop categories($t1[catid]) $t2}
				<li{if count(categories($t2[catid]))} class="dropdown-submenu"{/if}>
				<a title="{$t2[catname]}" href="{$t2[url]}">{$t2[catname]}</a>
				{if count(categories($t2[catid]))}
				<ul class="dropdown-menu">
				{loop categories($t2[catid]) $t3}
				<li{if count(categories($t3[catid]))} class="dropdown-submenu"{/if}><a title="{$t3[catname]}" href="{$t3[url]}">{$t3[catname]}</a>
				{if count(categories($t3[catid]))}
				<ul class="dropdown-menu">
				{loop categories($t3[catid]) $t4}
				<li><a title="{$t4[catname]}" href="{$t4[url]}">{$t4[catname]}</a>
				</li>
				{/loop}
				</ul>
				{/if}
				</li>
				{/loop}
				</ul>
				{/if}
				</li>
				{/loop}
				</ul>
				{/if}
				</li>
				{/loop}
				</ul>
				{/if}
				</li>
				{/loop}
			</ul>
      </div>
	 </nav>
    </div>
  </div>
</header>
<!--Header_section--> 








{if $topid==0}
{else}
{template 'system/cslide.html'}
{/if}
