{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $archive}



	 <!-- Portfolio Item -->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   appleIOS isotope-item effect-oscar">
	   
        <div class="portfolio_img"> 
		<img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' > </div> 
			<figcaption>		
				<div>
				  <a href="{$archive['url']}" target="_blank" class="fancybox"> 
					<h2>{$archive['title']}</h2>
					<p>{$archive[intro]}</p>
				  </a>
				</div>
			</figcaption>
        </figure>
      <!--/Portfolio Item --> 


{/loop}