{template 'header.html'}



	<div class="box2">
		<div class="box2-left">
			{template 'left.html'}
		</div>
		<div class="box2-right">
			<div class="title20">
				<h5>{$category[$catid][catname]}</h5><span>{$category[$catid][htmldir]}</span>
				{template 'position.html'}
			</div>
			<div class="box2-content">



<style type="text/css">
.product_img { width:900px;  height:auto; padding-top:50px;}
.product_img .bd{position:relative;width:900px;  height:auto; overflow:hidden; margin-bottom:5px; text-align:center;}
.product_img .showDiv {position:relative;width:900px; }
.product_img .showDiv img {max-width:900px;
 width:expression(document.body.clientWidth>900?"900px":"auto");
 max-height:600px;
height:expression(document.body.clientHeight>600?"600px":"auto");
margin-left:auto; margin-right:auto; clear:both; 
 }
 </style>
<div class="product_img">
<!-- 大图 -->
<div  class="bd">

{if $archive[pics]}
{loop $archive[pics] $pic}<div class="showDiv"><a href="{$pic[url]}" rel="example_group"><img src="{$pic[url]}" onerror='this.src="{config::get('onerror_pic')}"' /></a></div>{/loop}
{/if}
</div>
<div class="blank30"></div>
    <!-- 小图 -->
    <div class="hd">
        <ul>
		{loop $archive[pics] $pic}
           <li><a href="javascript:;"><img src="{$pic[url]}" onerror='this.src="{config::get('onerror_pic')}"'   /></a></li>
{/loop}
        </ul>
    </div>

</div>
<script type="text/javascript">
	jQuery(".product_img").slide({ effect:"fold", autoPlay:true, delayTime:300, startFun:function(i){
		}
	});
</script>
    




</div>

<div class="blank30"></div>
<div class="blank30"></div>

<div class="t_1 wow bounceIn">
<div>
<h3>{lang(pintro)}</h3>
<p>introduction</p>
</div>
</div>
<!-- t_1 -->



<div class="w_set">
<div class="content">
<p class="t_tools pc_show">
<a href="javascript:CallPrint('print');">打印本文</a> &nbsp; &nbsp; &nbsp; <a href="javascript:doZoom(14)">小</a>&nbsp; &nbsp;<a href="javascript:doZoom(18)">中</a>&nbsp; &nbsp;<a href="javascript:doZoom(20)">大</a>
</p>
<div class="blank30"></div>
<!-- 内容说明 -->
{$archive[content]}

</div>
<!--/article-->




<div class="blank30"></div>

<!-- 自定义表单开始 -->
{if $archive['showform']}
{template 'myform/nrform.html'}
<div class="blank30"></div>
{/if}
<!-- 自定义表单结束 -->

{if $archive[tag]}
<!-- tag -->
<div class="blank10"></div>
{lang(tag)}： {$archive[tag]}
{/if}

{if $archive[special]}
<!-- 专题 -->
<div class="blank10"></div>
{lang(special)}： {$archive[special]}
{/if}


{if $archive[type]}
<!-- 分类 -->
<div class="blank10"></div>
{lang(type)}： {$archive[type]}
{/if}


{if $archive[area]}
<!-- 地区 -->
<div class="blank10"></div>
{lang(area)}： {$archive[area]}
{/if}

<div class="blank30"></div>
{if $pages>1}
<!-- 内页分页 -->
<div class="blank10"></div>
<div class="pages">
{archive_pagination($archive)}
</div>
<div class="blank30"></div>
{/if}


<!--自动调用自定义字段-->
{$archive['my_fields']}
<div class="blank20"></div>


<?php if(archive_attachment($archive['aid'],'id')) { ?>
<!-- 附件 -->
<p>
{lang(attachment)}：{attachment_js($archive['aid'])}
</p>
<?php } ?>


<!-- 相关文章开始 -->
{if is_array($likenews)}
<div class="blank30"></div>
<div class="t_1">
<div>
<h3>{$archive[tag]}{lang(relatedcontent)}</h3>
<p>relatedcontent</p>
</div>
</div>
<!-- t_1 -->


<ul class="list_page_1">
<!-- 内容列表开始 -->
{loop $likenews $item}
<li>
<div class="list_page_date">
<h1>{=sdate($item[adddate],'d')}</h1>
<p>{=sdate($item[adddate],'Y-m')}</p>
</div>
<div class="li_text">
<p><a href="{url('archive/show/id/'.$item['aid'])}" target="_blank" class="list_page_t">{cut($item['title'],20)}</a></p>
<p>{cut(strip_tags($item['introduce']),60)}… <a href="{url('archive/show/id/'.$item['aid'])}" target="_blank">[{lang(more)}]</a></p>
<div class="clear"></div>
</div>
<div class="clear"></div>
</li>
{/loop}
<!-- 内容列表结束 -->
</ul>
{/if}
<!-- 相关文章结束 -->

<div class="blank30"></div>

<?php if(hasflash()) { ?>
<div style="color:red;font-size:16px;"><?php echo showflash(); ?></div><?php } ?>

<!-- 投票 -->
{vote_js($archive[aid])}


<script language="JavaScript">
function shutwin(){
window.close();
return;}
</script>



<div class="blank60"></div>



<!-- 上下页开始 -->
<div id="page">
{if $archive['p']['aid']}
<strong>{lang(archivep)}</strong><a href="{$archive['p']['url']}">{$archive['p']['title']}</a>
{else}
<strong>{lang(archivep)}</strong>{lang(nopage)}	
{/if}
<div class="blank10"></div>
{if $archive['n']['aid']}
 <strong>{lang(archiven)}</strong><a href="{$archive['n']['url']}">{$archive['n']['title']}</a>
{else}
<strong>{lang(archiven)}</strong>{lang(nopage)}	
{/if}
</div>
<!-- 上下页结束 -->
</div>



<!-- 相关文章开始 -->
{if is_array($likenews)}
<div class="blank60"></div>
<!-- 页面标题开始 -->
<div class="c_h1">
<div>
<h1>{$archive[tag]}</h1>
<p class="t_tools1">{lang(relatedcontent)}</p>
</div>
</div>

<div class="w_set">
<ul class="list_page_1">
<!-- 内容列表开始 -->
{loop $likenews $item}
<li>
<div class="list_page_date">
<h1>{=sdate($item[adddate],'d')}</h1>
<p>{=sdate($item[adddate],'Y-m')}</p>
</div>
<div class="li_text_w">
<p><a title="{$archive[stitle]}" href="{archive::url($item)}" target="_blank" class="list_page_t">{cut($item['title'],20)}</a></p>
<p>{cut(strip_tags($archive['introduce']),140)}… <a href="{archive::url($item)}" target="_blank">[{lang(more)}]</a></p>
<div class="clear"></div>
</div>
<div class="clear"></div>
</li>
{/loop}
<!-- 内容列表结束 -->
</ul>
{/if}
<!-- 相关文章结束 -->

</div>
<div class="blank30"></div>
<!-- 评论框开始 -->
{template 'comment/comment.html'}
<!-- 评论框结束 -->


<div class="clear"></div>

</div>
</div>


<script type="text/javascript" src="{$skin_path}/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="{$skin_path}/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{$skin_path}/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#example1").fancybox();

			$("a#example2").fancybox({
				'overlayShow'	: false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});

			$("a#example3").fancybox({
				'transitionIn'	: 'none',
				'transitionOut'	: 'none'	
			});

			$("a#example4").fancybox({
				'opacity'		: true,
				'overlayShow'	: false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'none'
			});

			$("a#example5").fancybox();

			$("a#example6").fancybox({
				'titlePosition'		: 'outside',
				'overlayColor'		: '#000',
				'overlayOpacity'	: 0.9
			});

			$("a#example7").fancybox({
				'titlePosition'	: 'inside'
			});

			$("a#example8").fancybox({
				'titlePosition'	: 'over'
			});

			$("a[rel=example_group]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});

			/*
			*   Examples - various
			*/

			$("#various1").fancybox({
				'titlePosition'		: 'inside',
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});

			$("#various2").fancybox();

			$("#various3").fancybox({
				'width'				: '75%',
				'height'			: '75%',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});

			$("#various4").fancybox({
				'padding'			: 0,
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none'
			});
		});
	</script>



			</div>
		</div>
		<div class="clear"></div>
	</div>




{template 'footer.html'}