{template 'header.html'}
<!-- 面包屑导航开始 -->
{template 'position.html'}
<!-- 面包屑导航结束 -->


<!-- 页面标题开始 -->
<div class="title wow bounceIn">
	<div class="container">
	<h3>{$type[typename]}</h3>
	<p>Type</p>
	</div>
</div>
<!-- 页面标题结束 -->



<!-- 中部开始 -->
<div class="container wow fadeInUp">



<!-- 内容缩略图列表 -->
<div class="blog-masonry masonry-true">
{loop $archives $i $archive}
<div class="post-masonry col-xs-12 col-sm-6 col-md-3">
<a href="{$archive['url']}" class="img-auto">
<img class="img-responsive" alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' />
<h4>{$archive['title']}</h4></a>
</div>
{/loop}
</div>
<!-- 内容缩略图列表结束 -->


<div class="clear"></div>


<!-- 内容列表分页开始 -->
{if isset($pages)}<div class="blank30"></div>
{type_pagination($typeid)}
<div class="blank30"></div>{/if}

<!-- 内容列表分页结束 -->
	


</div>
</div><div class="blank30"></div>
<!-- 中部结束 -->

<script src="{$skin_path}/js/min/main.js"></script>
<script src="{$skin_path}/js/min/plugins.js"></script>


<!-- 页底推荐图文产品开始 -->
{tag_内容页底图文产品四条}
<!-- 页底推荐图文产品结束 -->





{template 'footer.html'}