.box{ border:1px #F5F5F5 solid; width:500px; margin-left:auto; margin-right:auto; text-align:center; font-size:12px; background-color:#F9F9F9; margin-top:100px}
a:link{ color:#F33}
p{ margin-top:30px; margin-bottom:30px; color:#F33}
h2{ font-size:14px; font-weight:bold; color:#000; padding-top:5px}
