/*
 * 易通CMS Style
 * ============================================================================
 * 版权所有 2008-2009 易通CMS，并保留所有权利。
 * -------------------------------------------------------
 * 这不是一个自由软件！
 * 也不是一个开源软件！
 * 本软件已经申请软件版权保护！
 * 您不能在任何目的的前提下对程序代码进行破解、修改和使用；
 * 不允许对程序代码以任何形式任何目的的再发布。
 * ============================================================================
 * @author:   九州易通科技有限公司
 * @version:  v1.0
 * ---------------------------------------------
 * $Id: Style Sat Dec 06 09:50:51 CST 2008
  
  ---------------------------------------------------------------
  1. base (全局基本属性)
  ---------------------------------------------------------------
  2.link (链接)
  ---------------------------------------------------------------
  3.font (字体)
  ---------------------------------------------------------------
  4. layout (框架)
  ---------------------------------------------------------------
  5. header (头部)
  ---------------------------------------------------------------
  6.content (页中)
  ---------------------------------------------------------------
  7.footer (页底)
  ---------------------------------------------------------------
  8. search (当前位置/文章搜索)
  ---------------------------------------------------------------
  9.assist (辅助)
  ---------------------------------------------------------------
  10.tab (切换)
  ---------------------------------------------------------------
  11.ad (广告)
  ---------------------------------------------------------------
  
*/


/* 
  --------------------------------------
  *****  1. base(全局基本属性)   *****
  --------------------------------------
*/

img  {border: 0px;}
* {
    padding:0;
    margin:0;
    }
body {background:#15486E url(login_bg.gif) left top;}
#login {width:788px;height:155px;margin:0px auto;padding:0px auto;background:url(login_line.gif) 350px top no-repeat;font-size:12px;color:white;text-align:left;}
#login p {line-height:32px;font-size:14px;}
#login img {height:28spx;}
.input {width:148px;height:22px;line-height:22px;margin:5px 0px;padding:0px 8px;font-size:16px;font-weight:bold;background:#E1DFDF url(login_btn.gif) repeat-x left top;border:1px solid #002047;}
.button {margin:6px 0px 0px 62px;}