
<link href="{$conf.url}/templates/{$conf.template}/css/admin/
admin.css" rel="stylesheet" type="text/css" />

<!-- 中部开始 -->
<div id="main">
<!-- 中部左侧开始 -->
<div id="left">

<iframe name="I1" height="418" width="150" src="{$conf.url}/admin/left.php" border="0" frameborder="0" scrolling="no"> 浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe>
</div>
<!-- 中部右侧开始 -->

<div id="right">
<div style="width:auto;">

<iframe name="I2" height="660" width="100%" border="0" frameborder="0" src="{$conf.url}/admin/right.php"> 浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe>

<div class="blank20"></div>

</div>
<div class="clear"></div>

</div>

<div class="clear"></div>
</div>

</div>