{template 'header.html'}



	<div class="box2">
		<div class="box2-left">
			{template 'left.html'}
		</div>
		<div class="box2-right">
			<div class="title20">
				<h5>{$type[typename]}</h5><span>Type</span>
				{template 'position.html'}
			</div>
			<div class="box2-content">



<ul class="ul1-pic">
	{loop $archives $i $archive}
	<li {if $i%4==0}style="margin-left:0"{/if}>
		<div><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}" ><img src="{$archive[thumb]}" onerror='this.src="{config::get('onerror_pic')}"' alt="{$archive['stitle']}"/></a></div>
		<p><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}" >{$archive['title']}</a></p>
	</li>
	{/loop}
	<div class="clear"></div>
</ul>
<!-- 内容列表分页开始 -->
{if isset($pages)}
<div class="blank30"></div>
{category_pagination($catid)}
{/if}
<!-- 内容列表分页结束 -->



			</div>
		</div>
		<div class="clear"></div>
	</div>




<!-- 限定图片宽度 -->
{template 'width_max.html'}
<!-- 限定图片宽度 -->
{template 'footer.html'}