<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
<!-- 头部 -->

<div id="top">
<div style="background:#1b4070; width:100%; height:auto; display:block;">
<!-- 头部右侧 -->

<!-- 头部左侧 -->
<div id="logo"><a href="{$conf.url}/" title="网站首页" target="_blank"><img src="{$conf.url}/templates/{$conf.template}/css/admin/logo.gif" /></a></div>


<div id="nav">
<p><span style="float:right"><a href="http://www.cmseasy.cn" target="_blank">官方网站</a> | <a href="http://www.cmseasy.cn/service_1.html" target="_blank">授权</a> | <a href="http://www.cmseasy.org" target="_blank">支持论坛</a> | <a href="http://chm.cmseasy.cn/" target="_blank">帮助？</a></span>您好，<strong>{$username}！</strong> [<a href="logout.php">退出</a>]

</p>



<div class="nav">
<a class="on" href="index.php">管理首页</a>
<a href="{$conf.url}/" class="home" target="_blank">网站首页</a>

</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div id="position">
</div>