{template 'header.html'}



	<div class="box2">
		<div class="box2-left">
			{template 'left.html'}
		</div>
		<div class="box2-right">
			<div class="title20">
				<h5>{$special[title]}</h5><span>Specia</span>
				{template 'position.html'}
			</div>
			<div class="box2-content">


			<div id="content_text">
			<!-- 专题图片 -->
			<img src="{$special[banner]}" onerror='this.src="{config::get('onerror_pic')}"' style="float:left;margin:0px 20px 20px 0px;" />
			<!-- 专题介绍 -->
			{$special[description]}
			</div>
<div class="blank30"></div>
<div class="blank30"></div>



<!-- 内容缩略图列表 -->
<script src="{$skin_path}/js/m_img_hover.js" type="text/javascript" ></script><!-- 图片悬浮 -->
<ul class="list_cp">
{loop $archives $i $sp}
<li>
<img alt="{$sp[stitle]}" src="{$sp[thumb]}" onerror='this.src="{config::get('onerror_pic')}"' alt="{$sp[stitle]}">
<a title="{$sp[stitle]}" target="_blank" href="{$sp[url]}" class="list_cp_info"><h3>{$sp[title]}</h3>
<p>{cut(strip_tags($sp['introduce']),42)}</p>
</a>
</li>
{/loop}
</ul>
<!-- 内容缩略图列表结束 -->

<div class="clear"></div>



<div class="blank30"></div>

<!-- 列表分页开始 -->
{if isset($pages)}
<div class="blank30"></div>
{special::pagination($tag)}
<div class="blank30"></div>
{/if}
<!-- 列表分页结束 -->

</div>







<div class="blank30"></div>
<!-- 页底推荐图文产品开始 -->
{tag_内容页底图文产品三条}
<!-- 页底推荐图文产品结束 -->





{template 'footer.html'}