{template 'header.html'}
<!-- 面包屑导航开始 -->
<div class="clear box">
{template 'position.html'}
</div><div class="blank5"></div>
<!-- 面包屑导航结束 -->

<!-- 中部开始 -->
<div class="clear box c_bg">
<div class="c_top"></div>

<!-- 左侧开始 -->
<div class="w_250">


{template 'left.html'}

<div class="clear"></div>
</div>
<!-- 左侧结束 -->


<!-- 右侧开始 -->
<div class="w_700">

<!-- 面包屑导航开始 -->

<!-- 面包屑导航结束 -->

<div class="archive_title"><div class="r_box_top"></div><div class="r_box"><h1><span style="color:red;font-weight:bold;"> “{$keyword}” </span>{lang(searchresults)}：</h1></div><div class="r_box_bottom"></div></div>

<div id="content" class="clear">


<form name='search' action="" onsubmit="search_check();" method="get">

<input name="case" value="archive" type="hidden">
<input name="act" value="esearch" type="hidden">
<input type="text" name="keyword" value="{lang(pleaceinputtext)}" onfocus="if(this.value=='{lang(pleaceinputtext)}') {this.value=''}" onblur="if(this.value=='') this.value='{lang(pleaceinputtext)}'" class="o_text" />
<div class="blank5"></div>
<?php echo form::select('catid',front::post('catid'),category::option(0,all,$op=array(0=>''.$lang['all_columns'].'')));?>
<div class="blank5"></div>
<table>
{loop $field $f}
<?php

$name=$f['name'];
$f1 = setting::$var['archive'][$name];
if (!preg_match('/^my_/', $name) || !$f1['issearch']) {
    unset($field[$name]);
    continue;
}
?>
<tr>
    <td class="left" width="20%"><?php echo setting::$var['archive'][$name]['cname']; ?>：</td>
    <td width="70%"><?php echo form::getform($name,$form, $field, $data); ?></td>
</tr>
{/loop}

</table>
<input type="submit" value=" {lang('search')} " class="order" align="middle" style="padding:0px 10px;color:white;border:none;" />
</form>

<div class="blank30"></div>

<!-- 列表结束 -->
<ul class="news_list">
{loop $articles $article}
{cb_data($article)}
<li>[<a href="{$article[caturl]}">&nbsp;{$article[catname]}&nbsp;</a>]&nbsp;-&nbsp;<a href="{$article[url]}"><?php if($keyword) echo str_replace($keyword,"<font style=color:red;font-weight:bold;>$keyword</font>",$article['title']); else { ?>{$article[title]}<?php } ?></a> <span>{$article['adddate']}</span>
{/loop}
</ul>
<!-- 列表结束 -->

<div class="blank10"></div>

<!-- 列表分页开始 -->
<div class="pages">
<?php echo pagination::html($record_count,5); ?>
</div>
<!-- 列表分页结束 -->

<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
<div class="blank30"></div>
<div class="clear"></div>
</div>
</div>
<!-- 右侧结束 -->

<div class="c_bottom"></div>
<div class="clear"></div>
</div>
<!-- 中部结束 -->
{template 'footer.html'}