{template 'header.html'}



	<div class="box2">
		<div class="box2-left">
			{template 'left.html'}
		</div>
		<div class="box2-right">
			<div class="title20">
				<h5>{$category[$catid][catname]}</h5><span>{$category[$catid][htmldir]}</span>
				{template 'position.html'}
			</div>
			<div class="box2-content">


			<div id="content_text">
			{$category[$catid][categorycontent]}
			</div>	
			<div class="lianxi2">
				{template 'ditu.html'}
			</div>
			


			</div>
		</div>
		<div class="clear"></div>
	</div>




<!-- 限定图片宽度 -->
{template 'width_max.html'}
<!-- 限定图片宽度 -->
{template 'footer.html'}