

<footer class="footer_wrapper" id="contact">
 <div class="container">
    <div class="footer_bottom">
		<span>{get('sitename')}  {get(site_right)}</span><span>{get('site_icp')}</span>{if config::get('site_login')=='1'}<span>{login_js()}</span>{/if}{if $topid==0}<span>{lang(hotkeys)}： {gethotsearch(10)}</span>{/if}		
	</div>
  </div>
</footer>






 <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{$skin_path}/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{$skin_path}/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{$skin_path}/js/ie10-viewport-bug-workaround.js"></script>
<script src="{$skin_path}/js/bootstrap-submenu.js"></script>


<div class="servers">
<!--[if (gte IE 7)|!(IE)]><!-->
<!-- 在线客服 -->
{template 'system/servers.html'}
<![endif]-->
<!-- 短信 -->
{template 'system/sms.html'}
</div>

<div class="servers-wap">
{if config::get('wap_foot_nav')=='1'}
{template 'system/foot_nav_b.html'}
{elseif config::get('wap_foot_nav')=='2'}
{template 'system/foot_nav_c.html'}
{else}
{template 'system/foot_nav_a.html'}
{/if} 
</div>

<script type="text/javascript" src="{$base_url}/js/common.js"></script>

{if get('wap-share')=='1'}
{if get('share')=='1'}
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
{/if}
{/if}

{if config::get('site_push')=='1'}
<script>
(function(){
var bp = document.createElement('script');
bp.src = '//push.zhanzhang.baidu.com/push.js';
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(bp, s);
})();
</script>
{/if}



</body>
</html>