<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$lang.charset}" />
<link href="{$conf.url}/templates/{$conf.template}/css/admin/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$conf.url}/js/jquery.js"></script>
<script type="text/javascript" src="{$conf.url}/js/system.js"></script>
<title>CElive</title>
</head>

<body>

{literal}
<style type="text/css">

body {background:white;}
#info {padding:20px;}
</style>
{/literal}

<div id="info">

<!--请勿删除和修改,确保能够正常运作和获取重要信息-->
<div class="homecon">
    <div id="homecon_left">
        <div class="homecon_lefttit">系统信息</div>
        <div class="homecon_leftcon">
<ul>
<li>PHP版本: {$phpv}</li>
<li>ZEND版本: {$zendv}</li>
<li>操作系统: {$sysos} / {$sysip}</li>
<li>服务器信息: {$sysinf}</li>
</ul>
<div class="blank10"></div>
</div>
</div>

<div id="homecon_right">

            <div class="homecon_lefttit"></div>
        <div class="homecon_leftcon">
企业形象是企业精神文化的一种外在表现形式，它是社会公众与企业接触交往过程中所感受到的总体印象。这种印象是通过人体的感官传递获得的。企业形象能否真实反映企业的精神文化，以及能否被社会各界和公众舆论所理解和接受，在很大程度上决定于企业自身的主观努力
</div>
</div>
    </div>
    <div class="clear"></div>
  </div>
<!--请勿删除和修改,确保能够正常运作和获取重要信息-->

<div class="blank10"></div>

</body>
</html>