{template 'header.html'}
<!-- 面包屑导航开始 -->
{template 'position.html'}
<!-- 面包屑导航结束 -->

<!-- 页面标题开始 -->
<div class="title wow bounceIn">
	<div class="container">
	<h3>{$category[$catid][catname]}</h3>
	<p>{$category[$catid][htmldir]}</p>
	</div>
</div>
<!-- 页面标题结束 --


<!-- 页面标题结束 -->
<div class="blank30"></div>
<!-- 中部开始 -->
<div class="container">
<div class="com-md-12 wow bounceIn" data-wow-delay="0.6s">

<ul class="list_page_1">
<!-- 内容列表开始 -->
{loop $archives $i $archive}
<li class="row">
	<div class="col-md-2 col-sm-4">
		<a class="img-auto" title="{$archive['stitle']}" target="_blank" href="{$archive['url']}"><img alt="{$archive[stitle]}" src="{$archive[thumb]}" onerror='this.src="{config::get('onerror_pic')}"' width="150" /></a>
	</div>
	<div class="col-md-10 col-sm-8 li_text">
		<p><a title="{$archive[stitle]}" href="{$archive[url]}" target="_blank" class="list_page_t">{$archive[title]}</a></p>
		<p>{$archive[adddate]}</p>
		<p>{lang(strgrade)}：{$archive[strgrade]}</p>
		<p>{lang(nowdownload)}：{if $archive['attachment_id']}{attachment_js($archive['aid'])}{else}{lang(nodownload)}{/if}</p>
		<p>{cut(strip_tags($archive['introduce']),60)}… <a href="{$archive[url]}" target="_blank">[{lang(more)}]</a></p>
	</div>
</li>
{/loop}
<!-- 内容列表结束 -->
</ul>
<div class="blank30"></div>

<!-- 内容列表分页开始 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}
<!-- 内容列表分页结束 -->

</div>




</div>
<div class="blank30"></div>

<!-- 页底推荐图文产品开始 -->
{tag_内容页底图文产品三条}
<!-- 页底推荐图文产品结束 -->





{template 'footer.html'}