<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$conf.company} 企业在线客服管理平台 - Powered by CElive</title>
<link href="{$conf.url}/templates/{$conf.template}/css/admin/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$conf.url}/js/jquery.js"></script>
<script type="text/javascript" src="{$conf.url}/js/system.js"></script>
</head>
<body>
{include file=$header}



{include file=$main}

<div class="blank20"></div>

</div>
<div class="clear"></div>

</div>

<div class="clear"></div>
</div>

</div>

<!-- 页底 -->
<div id="footer">
&copy&nbsp;{$conf.company}&nbsp;<a href="http://www.cmseasy.cn" title="Powered by CmsEasy" target="_blank">Powered by CmsEasy</a>
</div>
</body>
</html>