{template 'header.html'}



	<div class="box2">
		<div class="box2-left">
			{template 'left.html'}
		</div>
		<div class="box2-right">
			<div class="title20">
				<h5>{$category[$catid][catname]}</h5><span>{$category[$catid][htmldir]}</span>
				{template 'position.html'}
			</div>
			<div class="box2-content">



			<div class="title21">{$archive[title]}</div>
			<div class="title22">{lang(author)}：<a>{$archive[author]}</a>&nbsp;&nbsp; {lang(adddate)}：{$archive[adddate]}&nbsp;&nbsp; {lang(view)}：{view_js($archive[aid])}{if $archive[attr3]}&nbsp;&nbsp; {lang(source)}：{$archive[attr3]}{/if}</div>

<style type="text/css">
table,td,tr {border:1px solid #ccc; padding:0.5em 0 0;}
</style>



<?php
$set_field=type::getpositionlink($data['typeid']);
$set_fields=array();
if(is_array($set_field))
foreach($set_field as $key => $value) {
    $set_fields[]=$value[id];
}
?>


<!-- 内容开始 -->
<table width="100%" border="1" align="center" cellpadding="8" cellspacing="0" bordercolor="#CCCCCC" style="border-collapse:collapse;border-radius: 3px 3px 3px 3px;">
<tr>
<td colspan="4"  style="color:#999999">&nbsp;&nbsp;<span style="font-weight:bold; color:#EC0000;">{$archive[title]}</span>&nbsp;&nbsp;&nbsp;&nbsp;{lang('jobdetails')}</td>
</tr>
<tr>
<td height="32" width="100" align="right">{lang('jobtype')}：</td>
<td width="217" align="left">&nbsp;&nbsp;{$archive['my_jobtype']}</td>
<td width="80" align="right">{lang('jobtitle')}：</td>
<td width="253">&nbsp;&nbsp;{$archive['my_jobtitle']}</td>
</tr>
<tr >
<td height="32" align="right" >{lang('jobnumber')}：</td>
<td align="left" >&nbsp;&nbsp;{$archive['my_jobnumber']}</td>
<td width="80" align="right">{lang('recruitingdepartment')}：</td>
<td >&nbsp;&nbsp;{$archive['my_zhaopinbumen']}</td>
</tr>
<tr>
<td height="32" align="right">{lang('jobgender')}：</td>
<td align="left">&nbsp;&nbsp;{$archive['my_jobgender']}</td>
<td width="80" align="right">{lang('jobwork')}：</td>
<td>&nbsp;&nbsp;{$archive['my_jobwork']}</td>
</tr>
<tr >
<td height="32" align="right" >{lang('jobacademic')}：</td>
<td align="left" >&nbsp;&nbsp;{$archive['my_jobacademic']}</td>
<td width="80" align="right">{lang('jobage')}：</td>
<td >&nbsp;&nbsp;{$archive['my_jobage']}</td>
</tr>
<tr>
<td height="32" align="right">{lang('jobworkareas')}：</td>
<td colspan="3" align="left">&nbsp;&nbsp;{$archive['my_jobworkareas']}</td>
</tr>
<tr  style="line-height:25px;">
<td height="32" align="right" valign="top">{lang('jobrequirements')}：</td>
<td colspan="3" align="left">&nbsp;&nbsp;{$archive['my_jobrequirements']}</td>
</tr>
<tr>
<td height="32" colspan="4" valign="middle"  style="color:#999999"><span style="font-weight:bold; color:#EC0000;">&nbsp;&nbsp;{lang(contactus)}</span></td>
</tr>
<tr>
<td height="32" align="right">{lang('contactname')}：</td>
<td align="left">&nbsp;&nbsp;{$archive['my_contactname']}</td>
<td width="80" align="right">{lang('tel')}：</td>
<td>&nbsp;&nbsp;{get('tel')}</td>
</tr>
<tr >
<td height="32" align="right" >{lang('fax')}：</td>
<td align="left" >&nbsp;&nbsp;{get('fax')}</td>
<td width="80" align="right">{lang('email')}：</td>
<td >&nbsp;&nbsp;<a href="mailto:{get(email)}" class="aB">{get('email')}</a></td>
</tr>
<tr>
<td height="32" align="right">{lang('address')}：</td>
<td colspan="3" align="left">&nbsp;&nbsp;{get('address')}</td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="16" style="border-bottom:1px dotted #333;"> &nbsp;</td>
</tr>
</table>
<!-- 内容结束 -->

<div class="table_job_more">{myform('my_yingpin')}</div>

<div class="blank30"></div>

<!-- 自定义表单开始 -->
{if $archive['showform']}
{template 'myform/nrform.html'}
{/if}
<!-- 自定义表单结束 -->


<div class="blank60"></div>



<!-- 上下页开始 -->
<div id="page">
{if $archive['p']['aid']}
<strong>{lang(archivep)}</strong><a href="{$archive['p']['url']}">{$archive['p']['title']}</a>
{else}
<strong>{lang(archivep)}</strong>{lang(nopage)}	
{/if}
<div class="blank10"></div>
{if $archive['n']['aid']}
 <strong>{lang(archiven)}</strong><a href="{$archive['n']['url']}">{$archive['n']['title']}</a>
{else}
<strong>{lang(archiven)}</strong>{lang(nopage)}	
{/if}
</div>
<!-- 上下页结束 -->

<div class="blank20"></div>
</div>

			</div>
		<div class="clear"></div>
		</div>





{template 'footer.html'}