{template 'header.html'}
<!-- 面包屑导航开始 -->
{template 'position.html'}
<!-- 面包屑导航结束 -->

<!-- 页面标题开始 -->
<div class="t_1">
<div>
<h3>{lang(search)}</h3>
<p>search</p>
</div>
</div>


<!-- 页面标题结束 -->
<div class="blank30"></div>
<!-- 中部开始 -->
<div class="w_set">
<div class="w_740">

<h1><span style="color:red;font-weight:bold;"> “{$keyword}” </span>{lang(searchresults)}：</h1>
<div class="blank30"></div>
<ul class="list_page_1">

{loop $articles $article}
{cb_data($article)}

<li>
<div class="list_page_date">
<h1>{=sdate($article[adddate],'d')}</h1>
<p>{=sdate($article[adddate],'Y-m')}</p>
</div>
<div class="li_text">
<p><a title="{$article[stitle]}" href="{$article[url]}" target="_blank" class="list_page_t"><?php if($keyword) echo str_replace($keyword,"<font style=color:red;font-weight:bold;>$keyword</font>",$article['title']); else { ?>{$article[title]}<?php } ?></a></p>
<p>{cut(strip_tags($article['introduce']),60)}… <a href="{$article[url]}" target="_blank">[{lang(more)}]</a></p>
<div class="clear"></div>
</div>
<div class="clear"></div>
</li>

{/loop}
</ul>


<div class="blank10"></div>

<!-- 列表分页开始 -->
<div class="pages">
<?php echo pagination::html($record_count,5); ?>
</div>
<!-- 列表分页结束 -->

</div>



<div class="w_240">

<h3 class="t_3">{tag_内页右侧栏目名称}</h3>
<ul class="list_2">
{tag_内页右侧内容列表}
</ul>


</div>

</div>

<div class="blank30"></div>
<!-- 页底推荐图文产品开始 -->
{tag_内容页底图文产品三条}
<!-- 页底推荐图文产品结束 -->





{template 'footer.html'}